@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');

body {
  position: relative;
  background-color: #e8e8e8;
  font-family: 'Urbanist', sans-serif;
}

.movie-container {
  background-color: #fff;
  border-radius: 5px;
}

.loading {
  display: flex;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-icon {
  text-align: center;
  margin-right: 10px;
}

@media screen and (max-width: 320px) {
  .movie-container {
    width: 300px;
    height: auto;
    margin: 10px auto;
    padding: 20px 10px;
    background-color: #fff;
  }
  
  .movie-poster {
    display: block;
    margin: 0 auto 30px;
    box-shadow: 3px 5px 5px #a7a7a7;
  }

  .video-icon {
    font-size: 40px;
  }

  .loading p{
    font-size: 20px;
  }

}